In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import networkx as nx
import warnings
from itertools import permutations

from mlxtend.preprocessing import TransactionEncoder

In [30]:
class Columns:
    INVOICE_NO = 'InvoiceNo'
    STOCK_CODE = 'StockCode'
    DESCRIPTION = 'Description'

In [31]:
gifts_df = pd.read_csv('../datasets/market_basket/online_retail.csv')
gifts_df.head()

  InvoiceNo StockCode                          Description
0    562583    35637A      IVORY STRING CURTAIN WITH POLE
1    562583    35638A        PINK AND BLACK STRING CURTAIN
2    562583    84927F                PSYCHEDELIC TILE HOOK
3    562583     22425                ENAMEL COLANDER CREAM
4    562583     16008  SMALL FOLDING SCISSOR(POINTED EDGE)

In [32]:
gifts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227760 entries, 0 to 227759
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    227760 non-null  object
 1   StockCode    227760 non-null  object
 2   Description  227404 non-null  object
dtypes: object(3)
memory usage: 5.2+ MB

In [33]:
#Remove leading and trailing characters in the Description column
gifts_df[Columns.DESCRIPTION] = gifts_df[Columns.DESCRIPTION].str.strip()
gifts_df.head()

  InvoiceNo StockCode                          Description
0    562583    35637A       IVORY STRING CURTAIN WITH POLE
1    562583    35638A        PINK AND BLACK STRING CURTAIN
2    562583    84927F                PSYCHEDELIC TILE HOOK
3    562583     22425                ENAMEL COLANDER CREAM
4    562583     16008  SMALL FOLDING SCISSOR(POINTED EDGE)

pandas.core.strings.accessor.StringMethods